@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RecipeCatalogWeb.Models.Recipe
<h2>Удаление рецепта</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Инструкция</dt>
    <dd>
        @Html.DisplayFor(model => model.Instruction)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}

