@using RecipeCatalogWeb.Models

@model IEnumerable<Category>

@{
    ViewBag.Title = "Категории";
}


<h3>Список категорий</h3>
<table>
    @foreach (Category item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "OneCategoryRecipe", new { id = item.CategoryId })
            </td>
        </tr>
    }
</table>
